@using Denxorz.Satisfactory.Routes.Types
@using SatisfactoryApp.Utils

<BaseFactoryMap Title="Factory Stability Map"
                GetFactoryColor="@GetFactoryColor"
                ExtraFactoryFilter="(f) => f.PercentageProducing.HasValue">
    <LegendSlot>
        <div class="legend-item">
            <span class="legend-icon factory stable"></span>
            <span>Stable (100%)</span>
        </div>
        <div class="legend-item">
            <span class="legend-icon factory almost-stable"></span>
            <span>Almost Stable (> 95%)</span>
        </div>
        <div class="legend-item">
            <span class="legend-icon factory unstable"></span>
            <span>Unstable</span>
        </div>
        <div class="legend-item">
            <span class="legend-icon factory off"></span>
            <span>Off</span>
        </div>
        <div class="legend-item">
            <span class="legend-icon uploader"></span>
            <span>Variable power</span>
        </div>
    </LegendSlot>
</BaseFactoryMap>

@code {
    private string GetFactoryColor(Factory factory)
    {
        return FactoryColors.GetFactoryColorForStability(factory.PercentageProducing);
    }
}

<style>
    .legend-icon.factory {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    .legend-icon.factory.stable {
        background: #00FF00;
    }

    .legend-icon.factory.almost-stable {
        background: #FFFF00;
    }

    .legend-icon.factory.unstable {
        background: #FFA500;
    }

    .legend-icon.factory.off {
        background: #FF0000;
    }

    .legend-icon.uploader {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid #00FF00;
    }
</style>